body {
  background-color: #e3e2e6
}

table {
  width: 100%
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#page-title {
  margin-top: 0;
}

#quote-container {
  margin-top: 0px;
}

#pfp {
  height: 8.5%;
}

#top-right {
  vertical-align: top;
  text-align: right;
}

#pet-pics {
  width: 100%;
}

#comment-button {
  display: inline;
}